* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
}

/* Nav */

nav {
    background-color: #222222;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

.pulsanti {
    height: 100%;
    display: flex;
    align-items: center;
}

.fa-solid {
    color: white;
    font-size: 24px;
    padding: 5px;
}

.fa-brands {
    color: white;
    font-size: 24px;
    padding: 5px;
}

.fa-angle-up {
    font-size: 12px;
}

.button {
    padding: 0 4px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouse {
    color: white;
    height: 100%;
    font-size: 14px;
}

.green {
    color: #4BC800;
}

.end {
    color: red;
    background-color: #4A4A4A;
    height: 100%;
    padding: 0 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: gray;
    height: 100%;
}

.end:hover {
    background-color: #313131;
    font-weight: bold;
}

/* Main */

.partecipants {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    background-image: url('https://picsum.photos/700/200');
    background-size: cover;
    background-repeat: no-repeat;
    height: 144px;
    width: 240px;
    margin: 8px 4px;
}

.fa-microphone-slash {
    font-size: 16px;
}

.info {
    background-color: rgba(80, 80, 80, .5);
    width: 44%;
    position: relative;
    top: 118px;
    left: 0;
}

span {
    color: white;
    font-size: 14px;
    padding: 4px 0;
}

.info:hover {
    background-color: rgba(80, 80, 80, .8);
}